<suite name="Simple Test Suite" verbose="10">
    <parameter name="selenium.host" value="localhost" />
    <parameter name="selenium.port" value="3737" />
    <parameter name="selenium.browser" value="*chrome" />

    <test name="Simple Test" preserve-order="true">
        		
        <classes>
        <!-- 
      		<class name="test.java.standard.ShortcutTest" /> 
      	
      		<class name="test.java.standard.HomeTest" > 
      			 <methods>
        			<include name="checkIfEverythingsPresent" />
      			</methods>
      		</class>
      		
      		<class name="test.java.standard.HomePlusTest" /> 
      		
      
<class name="test.java.cases.InterruptionUseCases" />
  <class name="test.java.cases.BasicUseCases" >
      	    	 <methods>
        			<include name="should_call_specific_employee" />
      			</methods>
      		</class>
      			
      		
      	  <class name="test.java.cases.EmployeeHatesYouUseCases" />
      	   -->
      	   
	<class name="test.java.cases.InterruptionUseCases" />
  	<class name="test.java.cases.BasicUseCases" />
    <class name="test.java.cases.EmployeeHatesYouUseCases" />
        </classes>
    </test>
</suite>
